@import '../abstract/variaveis';

ul{
    display:flex;
    justify-content: center;
    gap:2rem;
    padding:2rem 0;
    background-color: $cor-secundaria;
    li{
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color:$cor-quaternaria;
            transition: 0.1s;
            &:hover{
                background-color: $cor-quaternaria;
                color:$cor-primaria;
                padding:0.5rem;
                border-radius: 3rem;
            }
        }
    }
}